.Navbar {
  display: flex;
  align-items: center;
  background-color: black;
  color: #fff;
  padding: 1.25rem;
  margin-block-end: 1rem;
}

.Navbar a {
  margin-inline-start: 0.75rem;
  color: #fff;
  font-weight: bold;
}

.Navbar a:hover {
  color: teal;
}

.Table {
  padding: 1rem;
  margin-block-end: 1.25rem;
}

.Product {
  padding: 1rem;
  margin-block-end: 1.25rem;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}